.img1{
    width: 100%;
    height: 500px;
    object-fit: fill;
}

.img2{
    width: 100%;
    height: 500px;
    object-fit: fill;

}

.img3{
    width: 100%;
    height: 500px;
    object-fit: fill;
}