.img1{
    height: 90vh;
    width: 100%;
    object-fit: fill;
}

.img2{
    height: 90vh;
    width: 100%;;
    object-fit: fill;

}

.img3{
    height: 90vh;
    width: 100%;
    object-fit: fill;
}